
body {
    background-color: rgb(154, 247, 73);
}

.project1 {
    background-color: rgb(93, 214, 248);

}
.project2 {
    background-color: rgb(13, 227, 227);
    
}

.taskdevelopment1{
    background-color: rgb(34, 65, 133);
}
.taskdevelopment2{
    background-color: rgb(57, 213, 240);
}
.taskdevelopment3{
    background-color: rgb(37, 210, 100);
}